{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Password change' %}</h1>
    
    <p>{% trans "Please enter your old password and then enter your new password twice so we can verify you typed it in correctly." %}</p>
    
    <div class="changepw">
    <form action="" method="post">
    
        <div class="rrow">
            <label for="id_old_password" class="flabel">{% trans 'Old password:' %}</label> 
            <span class="finput">
            {{ form.old_password }}
            </span>
            {{ form.old_password.errors }}
        </div>
        
        <div class="rrow">
            <label for="id_new_password1" class="flabel">{% trans 'New password:' %}</label> 
            <span class="finput">
            {{ form.new_password1 }}
            </span>
            {{ form.new_password1.errors }}
        </div>
        
        <div class="rrow">
            <label for="id_new_password2" class="flabel">{% trans 'Confirm password:' %}</label> 
            <span class="finput">
            {{ form.new_password2 }}
            </span>
            {{ form.new_password2.errors }}
        </div>
    
        <p><input type="submit" value="{% trans 'Change my password' %}" /></p>
    </form>
    </div>

{% endblock %}
