{% extends "base.html" %}

{% block title %}Your Profile{% endblock title %}

{% block content %}
    <p>
        {{ message }}
    </p>
    
    <h3>Your account</h3>
    <div class="profile">
        <div class="lrow">
            <span class="flabel">Username:</span>
            <span class="finput">{{ user.username }}</span>
        </div>
        {% if user.get_full_name %}
        <div class="lrow">
            <span class="flabel">Name:</span>
            <span class="finput">{{ user.get_full_name }}</span>
        </div>
        {% endif %}
        <div class="lrow">
            <span class="flabel">Email:</span>
            <span class="finput">{{ user.email }}</span>
        </div>
    </div>
    
    <br>
    
    <h3>Your credentials</h3>
    
    {% if cert_present or key_present or access_present %}
    <div id="credentials_container">
        <div class="credentials_box">
            <h4>X.509 certificate</h4>
            {% if key_present or cert_present %}
            <p>
                X.509 credentials are used with the cloud-client. They have
                two components: a public certificate and a private key.
            </p>

            <div class="lrow">
                <span class="flabel">Certificate</span>
                {% if cert_present %}
                <a href="usercert.pem">usercert.pem</a>
                {% else %}
                (not available)
                {% endif %}
            </div>
            <div class="lrow">
                <span class="flabel">Private key</span>
                {% if key_present %}
                <a href="userkey.pem">userkey.pem</a>
                {% else %}
                (not available)
                {% endif %}
            </div>

            <p><strong>
                For your protection, the private key can only be downloaded once.
            </strong></p>
            {% if not key_present %}
            <p>
                You do not have a private key available. Most likely, it has already
                been downloaded. If you did not download it or if you lost it, please
                contact the administrator immediately.
            </p>
            {% else %}

            <p>Instructions</p>
            <ol>
                <li>Download these files and place them into
                    <samp>~/.globus/</samp>, in your home directory. You may need
                    to create this directory.
                </li>
                <li>
                    Ensure that the private key is not world-readable:
                    <div><samp>chmod 600 ~/.globus/userkey.pem</samp></div>
                </li>
                <li>Follow the
                    <a href="http://www.nimbusproject.org/docs/current/clouds/cloudquickstart.html">
                        cloud client quickstart</a>.</li>
            </ol>
            {% endif %}


            {% else %}
            <p>You have no X.509 credentials on file.</p>
            {% endif %}
        </div>
        

        {% if access_present %}
        <div class="credentials_box">
            <h4>Access token</h4>
            <p>
                Access tokens are used for the Nimbus EC2 Query API interface.
                For information on using these tokens, check the
                <a href="http://www.nimbusproject.org/docs/current/elclients.html#boto">documentation</a>.
            </p>
            <div class="lrow" id="accesskey">
                <span class="flabel">Key</span>
                <span class="copybox">{{ access_key }}</span>
            </div>
            <div class="lrow" id="accesssecret">
                <span class="flabel">Secret</span>
                <span class="copybox">{{ access_secret }}</span>
            </div>
        </div>
        {% endif %}

    </div>
    <br>
    {% else %}
    <p>None on file.</p>
    {% endif %}
    
    <h3>Other</h3>
        
    {% if user.is_superuser %}
    
    <p>
        You have access to the <a href="../admin/">administrator panel</a>
    </p>
    
    {% endif %} 
    
    <p>
        <a href="../accounts/password">Change your password</a>
    </p>
    
    <p>
        <a href="../accounts/logout">Log out</a>
    </p>
    
{% endblock %}

