.idea/
*.pyc
*.ipr
*.iws
*.swp
build/
dist/
autocontainer/downloads/
autocontainer/gt/
web/lib/java/
web/lib/python/cherrypy/
web/lib/python/django/
web/lib/python/httplib2/
web/src/env.sh
web/src/python/nimbusweb/portal/generated_secrets.py
web/src/python/nimbusweb/portal/generated_settings.py
web/var/
control/var/workspace-control/logs/wclog*
derby.log
tmp/
workspace.persistence.conf
cloud-client/nimbus-cloud-client-0*
out/
setuptools-0.6c11-py2.5.egg
setuptools-0.6c11-py2.6.egg
setuptools-0.6c11-py2.7.egg
/cumulus/authz/pynimbusauthz.egg-info/
/cumulus/cb/pycb.egg-info/
/cumulus/conf/Makefile
/cumulus/conf/config.log
/cumulus/conf/config.status
/cumulus/conf/etc/cumulus.ini
/cumulus/conf/etc/cumulus_tests.ini
/cumulus/conf/etc/cumulus_tests_https.ini
/cumulus/conf/etc/env.sh
/cumulus/deps/Twisted-10.0.0.tar.bz2
/cumulus/deps/boto-1.9b.tar.gz
/cumulus/deps/boto-2.0b3.tar.gz
/cumulus/deps/cumulus-deps.tar.gz
/cumulus/deps/nose-0.11.3.tar.gz
/cumulus/deps/pyOpenSSL-0.10.tar.gz
/cumulus/deps/zope.interface-3.6.1.tar.gz
cumulus/deps/boto-2.0b4.tar.gz
/cumulus/pip-0.7.2.tar.gz
lantorrent/lantorrent.egg-info/
ctx-broker/gar/etc/other/main.xml

