.idea/
*.pyc
*.ipr
*.iws
*.swp
build/
dist/
autocontainer/downloads/
autocontainer/gt/
web/lib/java/
web/lib/python/cherrypy/
web/lib/python/django/
web/lib/python/httplib2/
web/src/env.sh
web/src/python/nimbusweb/portal/generated_secrets.py
web/src/python/nimbusweb/portal/generated_settings.py
web/var/
control/var/workspace-control/logs/wclog*
derby.log
tmp/
workspace.persistence.conf
