<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<!-- START SNIPPET: beans -->
<!--beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:simple="http://cxf.apache.org/simple"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://cxf.apache.org/simple http://cxf.apache.org/schemas/simple.xsd"-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/security 
http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <jaxrs:server id="elasticqueryAPI"
                  address="/">
        <jaxrs:serviceBeans>
            <ref bean="elasticquery"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="org.nimbustools.messaging.query.AxisBodyWriter"/>
            <ref bean="queryExceptionMapper"/>
        </jaxrs:providers>
    </jaxrs:server>

    <bean id="queryExceptionMapper" class="org.nimbustools.messaging.query.QueryExceptionMapper"/>

    <bean id="queryExceptionTranslationFilter"
          class="org.nimbustools.messaging.query.security.QueryExceptionTranslationFilter">
        <property name="exceptionMapper" ref="queryExceptionMapper"/>
    </bean>

    <bean id="filterChainProxy" class="org.springframework.security.web.FilterChainProxy">
        <security:filter-chain-map path-type="ant">
            <security:filter-chain pattern="/**" filters="
            queryExceptionTranslationFilter,
            queryAuthenticationFilter
            " />
        </security:filter-chain-map>
    </bean>
    <bean id="queryAuthenticationFilter" class="org.nimbustools.messaging.query.security.QueryAuthenticationFilter">
        <property name="userDetailsService" ref="userDetailsService"/>
    </bean>


    <bean id="userDetailsService" class="org.nimbustools.messaging.query.security.FakeQueryUserDetailsService">
        <!-- this is a fake impl -->
    </bean>


    <bean id="elasticquery" class="org.nimbustools.messaging.query.ElasticQuery">
        <property name="versions">
            <map>
                <entry key="2009-08-15"  value-ref="query_2009-08-15" />
            </map>
        </property>
    </bean>

    <bean id="query_2009-08-15" class="org.nimbustools.messaging.query.v2009_08_15.ElasticService"/>

</beans>
        <!-- END SNIPPET: beans -->

